<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TODO: Give me a title!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsforce/1.7.1/jsforce.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <script src="src/js/slds-vue-library.min.js"></script>

    <!-- ONLY IN DEVELOPMENT -->
    <script src="src/js/ApiWrapper.js"></script>

    <link rel="stylesheet" href="src/css/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system-vf.min.css"></link>
    <link rel="stylesheet" href="src/css/c3.min.css"></link>

    <script type="x-template" id="template1">
      <div>
        <ds-form type="stacked">
          <ds-input type="text" label="Search" placeholder="Search..." v-model="inputtext"></ds-input>
        </ds-form>

        <ds-table-decorator :paginator="paginator">
          <table>
            <thead>
            <tr>
              <th value="Name">Name</th>
              <th value="Type">Type</th>
              <th value="Industry">Industry</th>
              <th value="Website">Website</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in paginator.paginatedData">
              <td>
                <ds-input type="text" v-model="item.Name" v-if="mode === 'edit'"></ds-input>
                <span v-if="mode === 'view'">{{item.Name}}</span>
              </td>
              <td>
                <ds-input type="text" v-model="item.Type" v-if="mode === 'edit'"></ds-input>
                <span v-if="mode === 'view'">{{item.Type}}</span>
              </td>
              <td>
                <ds-input type="text" v-model="item.Industry" v-if="mode === 'edit'"></ds-input>
                <span v-if="mode === 'view'">{{item.Industry}}</span>
              </td>
              <td>
                <ds-input type="text" v-model="item.Website" v-if="mode === 'edit'"></ds-input>
                <span v-if="mode === 'view'"><a :href="item.Website">{{item.Website}}</a></span>
              </td>
              <td>
                <ds-drop-menu slot="top-right" className="slds-button--icon-x-small">
                  <ds-menu-entry @click="logger(item)"><a href="javascript:void(0);" style="text-decoration: none">Modifica</a></ds-menu-entry>
                  <ds-menu-entry @click="paginator.paginatedData.splice(x, 1)"><a href="javascript:void(0);" style="text-decoration: none">Elimina</a></ds-menu-entry>
                </ds-drop-menu>
              </td>
            </tr>
            </tbody>
          </table>
        </ds-table-decorator>
          <ds-input type="select" label="Form: type" v-model="search1" :options="opts1"></ds-input>
          <ds-input type="select" label="Form: type" v-model="search2" :options="opts2"></ds-input>
        <ds-chart title="Prova" type="pie" :chart-data="chartData" style="width: 300px; height: 300px;"></ds-chart>
      </div>



    </script>

  </head>
  <body class="tlnxt">
    <div id="app">
      <button onclick="jsforce.browser.login()">Login</button>
    </div>
    <script>
      /* REPLACE WITH CONTROLLERNAME IN PRODUCTION */
      var api = ApiWrapper

      jsforce.browser.init({
        loginUrl: 'https://login.salesforce.com',
        clientId: '3MVG9od6vNol.eBhIsMWxacGU.2ZfFpN4GO6ezKQaPvwMvj.Vh9Yfr4rJtcGeGa29LHvuO4mwBPCsg_UUEUuI',
        redirectUri: 'https://localhost:8080/success'
      })

      jsforce.browser.on('connect', function (conn) {
        api.setConnection(conn)
        Slds.registerComponents()

        new Vue({
          el: '#app',
          template: '#template1',
          data: function(){
            return {
              paginator: new Slds.PaginatorService(),
              mode: 'view',
              inputtext: '',
              chartData: [
                ['Task', 'Hours per Day'],
                ['Work', 11],
                ['Eat', 2],
                ['Commute', 2],
                ['Watch TV', 2],
                ['Sleep', 7]
              ],
              search1: 'All',
              search2: 'All',
              opts1: ['All', 'pippo'],
              opts2: ['All'],
              filters: false

            };
          },
          methods:{
            loadData: function (value){
              var self = this;
              ApiWrapper.search(value, function (records){
                console.log(records);
                self.paginator.items = records;
                var industr = {};
                var opts1 = ['All'];
                var opts2 = ['All'];
                for(var id in records){
                  var name = records[id].Industry;
                  if(name)
                    opts1.push(name);
                  if(records[id].Type)
                    opts2.push(records[id].Type);
                  if(industr[name] == undefined)
                    industr[name]= 0;
                  industr[name]++;
                  //var counter = !isNaN(industr[this.paginator.items[id][name]])?0:industr[this.paginator.items[id][val]];
                  //industr[this.paginator.items[id].name] = { name : this.paginator.items[id], val : counter}
                  // console.log(industr);
                }
                var ret = [['Task', 'Hours per Day']];
                var keys =  Object.keys(industr);
                for(var i = 0; i<keys.length; i++)
                  ret.push([keys[i], industr[keys[i]]]);
                self.chartData = ret;
                self.opts1 = opts1;
                self.opts2 = opts2;
                console.log(self.opts1);
                console.log(self.opts2);
                //console.log(ret, keys, industr);
              });
            }
          },
          watch:{
            inputtext:function(newValue){
              this.loadData(newValue);
            }
          },
          created: function () {
            this.setSvgPath('src/css/salesforce-lightning-design-system/assets')
            this.loadData('');
          }
        })
      })
    </script>
  </body>
</html>